
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/*Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Body content index.html*/
body {
    font-size: 100%;
    background-color:rgb(26,26,26);
    background-size: auto;
}

/*Header index.html*/
.header {
    background-color: rgb(43,43,43);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    position: sticky;
    top: 0;
    border-bottom: 0.4px solid #FFF2E7;
}

/* Header image index.html*/
.header-img {
    height: 62px;
    border-radius: 100%;

}

/* Header menu index.html*/
.header-menu {
    display: flex;
    gap: 32px;
}

/* Header menu items index.html*/
.header-menu-item {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.header-menu-item:hover {
    font-size: 19px;
    text-decoration: underline rgba(236, 214, 196, 0.53);
}

/* Content index.html */
.content {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    padding: 20px;
}

/* Content main index.html */
.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Content main writing index.html */
.content-main-writing {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Content main writing title index.html*/
.content-main-writing-title {
    font-family: 'Roboto Condensed', sans-serif;
    color:red;
    font-weight: 400;
    font-size: 30px;
}

/* Content main writing subtitle index.html*/
.content-main-writing-subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 20px;

}

/* Content main writing button index.html */
.content-main-writing-button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.content-main-writing-button:hover {
    background-color: rgba(236, 214, 196, 0.53);
    transition: all 0.4s ease-in;
    
}

/* Content main image index.html */
.content-main-img {
    height: 400px;
    border-radius: 20px;
}

/* Content secondary index.html */
.content-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px
}

/* Content secondary title index.html*/
.content-secondary-title {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/* Content secondary paragraph index.html */
.content-secondary-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;

}

/* Footer */
.footer {   
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    border-top: 0.4px solid #FFF2E7;
    background-color: rgb(43,43,43);
    position: static;
    
}

/* Footer items  */
.footer-item {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 4px 20px;
    color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    background-color: rgb(60,60,60);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-weight: 300;
    font-size: 19px;
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-item:hover {
    background-color: rgba(236, 214, 196, 0.53);
}





/* Header sobre.html*/
.header-sobre {
    background-color:rgb(43,43,43);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    position: sticky;
    top: 0;
    border-bottom: 0.4px solid #FFF2E7;
}

/* Button home */
.button-home {
    border:rgb(26,26,26);
    background: rgb(43,43,43);
    border-radius: 70%;
    
}

.button-home:hover {
    background-color:  rgba(26,26,26);
}

/* Image content main sobre.html */
.content-main-image-sobre {
    border-radius: 20px;
}

.div-img{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:right;
    margin:10px;
}

/* Content main sobre.html*/
.content-main-sobre {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-around;
}

/* Paragraph content main sobre.html*/
.content-main-paragraph-sobre {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:white;
}

.content-tickets {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    padding: 20px;
}

/* Content main tickets.html */
.content-main-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Content main writing tickets.html */
.content-main-writing-tickets {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

/* Content main writing title tickets.html*/
.content-main-writing-title-tickets {
    font-family: 'Roboto Condensed', sans-serif;
    color:red;
    font-weight: 400;
    font-size: 30px;
    margin-right: 40px;
    margin-bottom: 35px;
}

/* Content main writing subtitle tickets.html*/
.content-main-writing-subtitle-tickets {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 25px;
    margin-left: 25px;

}

/* Content main writing button tickets.html */
.content-main-writing-button-tickets {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    margin-left: 15px;
}

.content-main-writing-button-tickets:hover {
    background-color: rgba(236, 214, 196, 0.53);
    transition: all 0.4s ease-in;
    
}

/* Content main image tickets.html */
.content-main-img-tickets {
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
}

/* Content secondary tickets.html */
.content-secondary-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px
}

/* Content secondary title tickets.html*/
.content-secondary-title-tickets {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/* Content secondary paragraph tickets.html */
.content-secondary-paragraph-tickets {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-right: 40px;
    color: #ECD6C4;

}


